h1 {
  text-align: center;
  padding: 15px;
  border: 3px black solid;
  margin: 0;
}
h3 {
  float:right;
  height: 27px;
  width: 60px;
  background-color: grey;
  text-align: center;
}
.block {
  display: inline-flex;
  width: auto;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  border: 3px solid black;
}
